[Unit]
Description={{{ID}}} tezpeak service
After=default.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=20

Environment="HOME={{{ROOT_DIR}}}"
Environment="TEZPEAK_CONFIG_FILE={{{ROOT_DIR}}}/config.hjson"

WorkingDirectory={{{ROOT_DIR}}}/data

ExecStart={{{ROOT_DIR}}}/bin/tezpeak {{{configuration.STARTUP_ARGS__CLI_ARGS}}}

{{#model.SERVICE_CONFIGURATION__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION__ARRAY}}

[Install]
WantedBy=default.target