[Unit]
Description={{{ID}}} tezpay service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}
RestartSec=20

Type=simple
Restart=always

Environment="HOME={{{ROOT_DIR}}}"
Environment="TEZPEAK_CONFIG_FILE={{{ROOT_DIR}}}/config.hjson"
Environment="TEZBAKE_HOME={{{model.TEZBAKE_HOME}}}}"

WorkingDirectory={{{ROOT_DIR}}}/data

ExecStart={{{ROOT_DIR}}}/bin/tezpeak {{{configuration.STARTUP_ARGS__CLI_ARGS}}}

{{#model.SERVICE_CONFIGURATION__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION__ARRAY}}

[Install]
WantedBy=default.target